* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #0f172a;
  color: #e2e8f0;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #020617;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e293b;
}

.sidebar h2 {
  text-align: center;
  color: #22c55e;
  margin-bottom: 30px;
}

.sidebar button {
  background: transparent;
  border: none;
  color: #cbd5f5;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: #22c55e;
  color: black;
}

/* Main */
.main {
  flex: 1;
  padding: 25px;
}

/* Cards */
.main > div {
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #1e293b;
  margin-bottom: 20px;
}

/* Inputs */
input {
  padding: 10px;
  margin: 8px 5px 10px 0;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
}

input:focus {
  border-color: #22c55e;
}

/* Buttons */
button {
  background: #22c55e;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

/* List */
ul li {
  background: #0f172a;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

/* Hidden */
.hidden {
  display: none;
}