* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: #f4f7f6;
}

/* Main Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Left Panel */
.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #0f9d58, #34a853);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.left-panel h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 18px;
  opacity: 0.9;
}

/* Right Panel */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Box */
.login-box {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;

   animation: fadeIn 0.8s ease-in-out;
}

.login-box h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.login-box input:focus {
  border-color: #34a853;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #0f9d58;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #0c7c45;
}

/* Signup text */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #0f9d58;
  text-decoration: none;
  font-weight: bold;
}

/* Message */
#message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}